body{
    overflow-x: hidden; 
}

body.inner {
    padding-top: 60px;
}

body.home {
    padding-top: 0px;
}

.sidebar-nav {
    padding: 9px 0;
}

.header{
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 7px 0;
}

.navbar-fixed-top .img-logo{
    width: 101px;
}

.header img{
    max-width: initial;
}

.header .nav-icon{
    position: absolute;
    top: 0px;
    padding: 14px;    
}

.header .nav-icon.right{
    right: 0px;   
}

.header .nav-icon.left{
    left: 0px;   
}

.header-unit{
    margin-bottom: 21px;
}

.header-unit .content-header{
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;    
}

.header-unit .content-header h3{
    margin-bottom: 17px;
}

.content-header{
    text-align: center;
    padding: 10px;;
    font-size: 0.9em;
    background-color: #eeeeee;
}

.less-padding-l-r{
    padding-left: 0px;
    padding-right: 0px;
}

.ui-content{
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 15px;
    color: #707070;
}

.txt-center{
    text-align: center;
}

.content-form{
    margin: 19px;
}

.ico-32{
    width: 37px!important;
    height: 38px;
    background-color: #00A98F;
    background-image: url("../img/icones_mono_f03.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: -9024px;
}

.ico-32:hover{
    background-color: #00A98F;
}

.ico-32.search{
    background-position: -1224px -235px;
}

/** Icones **/
.icon{
    display: inline-block;
    background-image: url("../img/icones_mono_f03.png");
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: -9024px;   
}

[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/icones_mono_f03.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border: 0;
}

.icons-logo-largue{
    background-position: -1065px 0px;
    width: 125px;
    height: 40px;
}

.icons-logo{
    background-position: -1062px -98px;
    width: 106px;
    height: 31px;
}

.icons-back{
    background-position: -293px -241px;
    width: 26px;
    height: 21px;
}

.icons-menu{
    background-position: -1343px 0px;
    width: 26px;
    height: 21px;
}

.title-session{
    position: relative;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 6px;
    padding: 5px;
}

.title-session.icons{
    padding-left: 38px;
}

.title-session .icon{
    position: absolute;
    left: 1px;
    top: 0px;
    width: 27px;
    height: 27px;
}

.title-session .icon.search{
    background-position: -841px 0px;
    zoom: 0.8;
}

.title-session h4{
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/** Icones **/

/** listas ***/

.accordion {
    margin-bottom: 34px;
}

.accordion-heading{
    font-size: 16px;
    display: block;
    margin: 0 -15px;
    padding: 0;
    position: relative;
}

.accordion-heading .accordion-toggle{
    color: #2f3e46;
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    padding-left: 0px;
    border-left-width: 0;
    border-right-width: 0;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #f1f1f1)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff, #f1f1f1); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff, #f1f1f1); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff, #f1f1f1); /* IE10 */
    background-image:      -o-linear-gradient( #fff, #f1f1f1); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff, #f1f1f1);
}


.accordion-heading .accordion-toggle:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6), to( #e0e0e0)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6, #e0e0e0); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6, #e0e0e0); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6, #e0e0e0); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6, #e0e0e0); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6, #e0e0e0);
}

.accordion-heading .btn-inner{
    font-size: 16px;
    padding-left: 40px;
    border-top: 0 none;
    border-color: rgba(255,255,255,.3);
    min-width: .75em;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    zoom: 1;
}

.accordion-heading .btn-inner .btn-text{
    position: relative;
    z-index: 1;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.accordion-heading .btn-inner .btn-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;    
}

.btn-icon{
    display: block;
    width: 18px;
    height: 18px;
    background: #666;
    background: rgba(0,0,0,.4);
    background-image: url("../img/icones_mono_f03.png");
    background-repeat: no-repeat;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.btn-icon.icon-arrow-d{
    background-position: -216px -324px;
}

.btn-icon.icon-arrow-u{
    background-position: -180px -324px;
}

.btn-icon.icon-arrow-r{
    background-position: -108px -324px;
}

.accordion-inner{
    display: block;
    margin: 0 -15px;
    padding: 10px 15px;
    border-left-width: 0;
    border-right-width: 0;
    border-top: none;
}

.accordion-heading.inner{
    margin: -1px 0 0 0;
}

.accordion-inner.inner {
    margin: 0;
}

.accordion-heading.inner .accordion-toggle{
    width: auto;
    margin: 0px -1px 0px -1px;
}

.less-border{
    border: 0 none;
}

.content-scrollable{
    max-height: 124px;
    overflow: hidden;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.content-scrollable .radio, .content-scrollable .checkbox{
    min-height: 31px;
}

.hero-unit.search{
    padding: 16px;
}

.hero-unit.search form{
    margin: 0px;
}

.box-content.actions{
    padding: 20px 0 10px 0;
}

.list{
    background-color: #eee;
    margin: 0px;
}

.list ul{
    margin: 0;
}

.list ul li{
    list-style: none;
    padding: 0;    
}

.content-list{
    position: relative;
    z-index: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.list ul li .content-list a{
    display: block;
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    color: #2f3e46;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 11px 34px 8px 100px;
    text-shadow: 01px 0 #fff;
    text-decoration: none;
    margin: 0 -20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #f1f1f1)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff, #f1f1f1); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff, #f1f1f1); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff, #f1f1f1); /* IE10 */
    background-image:      -o-linear-gradient( #fff, #f1f1f1); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff, #f1f1f1);
}

.list ul li .content-list a:hover{
    border: 1px solid #bbb;
    background: #dfdfdf;
    font-weight: bold;
    color: #2f3e46;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6), to( #e0e0e0)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6, #e0e0e0); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6, #e0e0e0); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6, #e0e0e0); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6, #e0e0e0); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6, #e0e0e0);
}

.list ul li .content-list .thumb{
    position: absolute;
    max-height: 80px;
    border-width: 0;
    top: 6px;
    left: -14px;
}

.list ul li.load a{
    padding: 15px 0;
    border: 1px solid #ccc;
    display: block;
    font-size: 1.4em;
    background: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to( #ddd)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f0f0f0, #ddd); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f0f0f0, #ddd); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f0f0f0, #ddd); /* IE10 */
    background-image:      -o-linear-gradient( #f0f0f0, #ddd); /* Opera 11.10+ */
    background-image:         linear-gradient( #f0f0f0, #ddd);
    text-align: center;
    text-decoration: none;
    margin: 0 -21px;
}

.content-list .btn-icon{
    position: absolute;
    top: 47%;
    right: -12px;
}

.li-heading{
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: .6em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

.li-desc{
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: -.5em 0 .6em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.accordion-heading .accordion-toggle._active, .accordion-heading .accordion-toggle._active:hover,
.list ul li .content-list a._active, .list ul li .content-list a._active:hover
{
    color: #FFF;
    border: 1px solid #ccc;
    background: #419E90;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #419E90), to( #2C6C62)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #419E90, #2C6C62); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #419E90, #2C6C62); /* FF3.6 */
    background-image:     -ms-linear-gradient( #419E90, #2C6C62); /* IE10 */
    background-image:      -o-linear-gradient( #419E90, #2C6C62); /* Opera 11.10+ */
    background-image:         linear-gradient( #419E90, #2C6C62);
}

.theme-c{
    border: 1px solid #aaa;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    background: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9), to( #eee)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f9f9f9, #eee); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f9f9f9, #eee); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f9f9f9, #eee); /* IE10 */
    background-image:      -o-linear-gradient( #f9f9f9, #eee); /* Opera 11.10+ */
    background-image:         linear-gradient( #f9f9f9, #eee);
}

.header-info img{
    float: left;
    margin: 0 13px 10px 2px;
}

.header-info h4{
    font-size: 20px;
}

.box-group h4{
    font-size: 13px;
}

.box-group-header h4, .box-group-header p{
    padding: 0 9px 0 9px;
}

.box-group .accordion{
    margin-bottom: 0px;
}

.box-group .accordion .content-scrollable{
    background-color: #FFF;
    color: #707070;
}

.content-scrollable .alert{
    font-size: 12px;
    padding: 2px 10px 2px 8px;
    margin-bottom: 2px;
}

.content-scrollable.maps{
    max-height: 239px;
}

.content-scrollable.maps img{
    width: 350px;
    margin-bottom: 5px;
}

.blocks{
    margin-bottom: 17px;
}

.footer{
    padding: 6px;
    background-color: #F2F6D6;
    border-top: solid 1px #e5e5e5;
}

.footer p{
    margin: 2px 0 0 0;
    font-size: 11px;
}